/* Header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: #28282d;
}

.header p {
    color: aliceblue;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    padding: 5px 1rem;
    margin: 0 10px;
    color: rgb(233, 226, 227);
    position: relative;
}

ul li a::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition: all .4s;
}

ul li a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: all .4s;
}

ul li a:hover:after,
ul li a:hover::before {
    content: '';
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
}
/* Header End Here */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    font-family: 'Overpass Mono', monospace;
    color: #f5f5f5;
}

@keyframes fade
{
    0%
    {
        opacity: 0.2;
    }

    100%
    {
        opacity: 0.9;
    }
}

/* Media queries */

@media screen and (max-width: 1295px)
{
    footer
    {
        width: 95%;
    }
}

@media screen and (max-width: 500px)
{
    footer
    {
        opacity: 0.9;
    }
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.title
{
    font-size: 50px;
    font-weight: bold;
    padding: 1.5% 0;
}

.title-info
{
	padding-bottom: 2%;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}

.input-group, .textarea-group
{
    padding: 1% 0;
}

input, textarea
{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 20px;
}

input:focus, textarea:focus
{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #69f0ae;
}

input::placeholder, textarea::placeholder
{
    color: transparent;
}

label
{
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
	cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label
{
    top: -4em;
    color: #69f0ae;
    font-size: 15px;
}

textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
{
    top: -10.5em;
    color: #69f0ae;
    font-size: 15px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

button
{
    padding: 2%;
    width: 50%;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    background-color: black;
    color: inherit;
    box-shadow: 0 0 10px #212121;
}

button:hover
{
    background-color: #424242;
    color: #69f0ae;
    cursor: pointer;
}


/* Media queries */

@media screen and (max-width: 1200px)
{
    .form
    {
        width: 70%;
    }
}

@media screen and (max-width: 680px)
{
    .form
    {
		width: 90%;
    }
}

@media screen and (max-width: 500px)
{
	.title
	{
		font-size: 40px;
		padding-top: 6%;
	}

	.title-info
	{
		font-size: 13px;
	}
	
	.form
	{
		padding: 6% 4%;
		padding-top: 15%;
	}

	.input-group, .textarea-group
    {
		padding: 3% 0;
	}
	
	input, textarea
	{
		font-size: 15px;
	}

	input:focus ~ label, input:not(:placeholder-shown) ~ label
	{
		top: -3.5em;
		left: 0.1em;
	}
	
	textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
	{
		top: -8.5em;
		left: 0.2em;
    }
    
    button
    {
        font-size: 15px;
    }
}

/* Footer */
#footer{
    color: white;
    background-color: #484848;
    margin:0 0 10px;
    padding:0 0 10px;
    align-self: flex-end
  }
  #footer-bottom{
    background-color: #28282d;
  }
