/* Header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: #28282d;
}

.header p {
    color: aliceblue;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    padding: 5px 1rem;
    margin: 0 10px;
    color: rgb(233, 226, 227);
    position: relative;
}

ul li a::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition: all .4s;
}

ul li a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: all .4s;
}

ul li a:hover:after,
ul li a:hover::before {
    content: '';
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
}
/* Header End Here */

/* Profile Cards Starts Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#profile-cards {
    width: 100%;
    height: 71.5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 5);
}

.card-item {
    width: 300px;
    padding: 15px;
    margin: 1.5rem;
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.image {
    position: relative;
    width: 100px;
    bottom: 1.5rem;
    cursor: pointer;
    background-size: cover;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    background-size: cover;
    transition: all 0.2s linear;
}

.image:hover img {
    transform: translateY(-5px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.description ul {
    display: flex;
    list-style: none;
}

.description h2 {
    font-size: 26px;
}

.role {
    color: red;
    font-size: 17px;
}

.description ul li {
    font-size: 1.2rem;
    padding: 10px 17px 5px 0;
}

.description ul li a {
    text-decoration: none;
    color: purple;
}
/* Profile Cards Ends Here */

/* Footer */
#footer{
    color: white;
    background-color: #484848;
    margin:0 0 10px;
    padding:0 0 10px;
    align-self: flex-end
  }
  #footer-bottom{
    background-color: #28282d;
  }
